﻿@model Calndr.Controllers.CalendarViewModel

<div id="main"/>

<script>
    window.onload = function () {
        const jsonModel = @Html.Raw(Json.Encode(Model));

        const events = jsonModel.Events.map(
            e => ({
                id: e.Id,
                title: e.Title,
                start: moment(e.Start).toDate(),
                end: moment(e.End).toDate(),
                canEdit: e.CanEdit
            })
        );

        const props = {
            calendar: {
                calendarId: jsonModel.CalendarId,
                events
            },
            addEvent: {
                dialogOpen: false,
                event: null
            }
        };

        ReactDOM.render(React.createElement(Calndr.default, props), document.getElementById("main"));
    };
</script>